.App {
  text-align: center;
}

#buttonsdiv{
  position: relative;
  width: available;
  background-color: lime;
}

.dataentry{
  position: relative;
  margin: auto;
  top: 3em;
  display: table;
  width: 90%;
  background-color: lightcoral;
  border: 2px solid yellow;
}

#dataform{
  position: relative;
  margin: auto;
  top: 3ex;
  display: table;
  width: 90%;
  border-style: outset;
  border-width: 6px;
  border-color: #dedede;
  background-color: lightskyblue;
}

.datalabel{
  position: relative;
  left: 1em;
}

.datatext{
  position: relative;
  left: 3em;
  width: 70%;
  background-color: #dedede;
  border-style: inset;
  border-color: crimson;
}

.datanumber{
  position: relative;
  left: 3em;
  width: 3em;
  background-color: #dedede;
  border-style: inset;
  border-color: crimson;
}

.datasubmit{
  background-color: midnightblue;
  color: ghostwhite;
}

