body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgoldenrodyellow;
}

#root{
  border: 6px solid green;
  background-color: brown;
  min-height: 40ex;
}

#respdiv{
  min-height: 30ex;
  border: 3px outset blueviolet;
  background-color: #91e0c0;
}

.resptext{
  width: 90%;
  margin-left: 4%;
  margin-right: 2%;
  min-height: inherit;
  border: inset red;
  background-color: lightcyan;
  scroll-behavior: auto;
  font-weight: bold;
}