#respdiv{
    min-height: 25ex;
    border: 3px outset blueviolet;
    background-color: #91e0c0;
}

.messageboard{
    width: 90%;
    margin-left: 4%;
    margin-right: 2%;
    min-height: inherit;
    border: inset red;
    background-color: lightcyan;
    font-weight: bold;
}
