.dataform{
  display: table;
  position: relative;
  text-align: left;
  margin: auto;
  width: 95%;
  border-style: outset;
  border-width: 3px;
  border-color: #dedede;
  background-color: lightskyblue;
  font-family: sans-serif;
  font-size: 9pt;
}

.labelinputpair{
  display: table-row;
}

.datalabel{
  display: table-cell;
  position: relative;
  width: 25%;
  left: 1em;
}

.datatext{
  display: table-cell;
  position: relative;
  left: 3em;
  width: 70%;
  background-color: #dedede;
  border-style: inset;
  border-color: crimson;
  max-height: 2ex;
}

.datanumber{
  display: table-cell;
  position: relative;
  left: 3em;
  width: 3em;
  background-color: #dedede;
  border-style: inset;
  border-color: crimson;
  max-height: 2ex;
}

.datadropdown{
  display: table-cell;
  position: relative;
  padding: 2px 1px 2px 4px;
  left: 3em;
  width: 70%;
  background-color: #dedede;
  border-style: inset;
  border-color: #fcf820;
}

.datasubmit{
  background-color: midnightblue;
  color: ghostwhite;
}

#producerState, #varietyCropId{
  display: table-cell;
  position: relative;
  padding: 2px 1px 2px 4px;
  left: 3em;
  width: 70%;
  background-color: #dedede;
  border-style: inset;
  border-color: #fcf820;
  min-height: 3.5ex;
}

